version: '3.9'
services:
  postgres:
    image: postgres:latest
    container_name: microservice-db
    volumes:
      - ./docker_postgres_init.sql:/docker-entrypoint-initdb.d/docker_postgres_init.sql
    environment:
      - POSTGRES_USER=nanda
      - POSTGRES_PASSWORD=nanda
    ports:
      - "5432:5432"
    networks:
      - microservice-nanda

  consul:
    image: hashicorp/consul:latest
    container_name: consul
    ports:
      - "8500:8500"  # Consul HTTP UI
      - "8600:8600"  # Consul DNS
      - "8600:8600/udp"
    networks:
      - microservice-nanda

  service-user:
    container_name: service-user
    build:
      context: ./service-user
      dockerfile: Dockerfile
    restart: always
    init: true
    ports:
      - "3000:3050"
    env_file:
      - service-user/.env
    environment:
      - CONSUL_HOST=consul
      - DB_HOST=postgres
    networks:
      - microservice-nanda
    depends_on:
      - postgres

  service-product:
    container_name: service-product
    build:
      context: ./service-product
      dockerfile: Dockerfile
    restart: always
    init: true
    ports:
      - "4000:4100"
    env_file:
      - service-product/.env
    environment:
      - CONSUL_HOST=consul
      - DB_HOST=postgres
    networks:
      - microservice-nanda
    depends_on:
      - postgres

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

networks:
  microservice-nanda:
    driver: bridge
